.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  /*background: #202870;*/
  background: transparent;
  top: 0%;
}

.overlay h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.6rem;
  color: #fff;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

@font-face {
  font-family: "Monument";
  font-style: normal;
  font-weight: 400;
  src: url("../css/fonts/MonumentExtended-Regular.otf");
  font-display: swap;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  background-color: black;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 0.4rem;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(138, 80, 172);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.slide-in {
  animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0%);
  }
}
